/*---------------------- Media Queries-------------- */
/* 1200px - & */
@media screen and (max-width: 100000px) {
  .mouse__over {
    display: none;
  }
  .mouse__over__sidebar {
    display: none;
  }
  .back_to_top {
    right: 8em;
  }
}


/* 992- 1200px */

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .mouse__over {
    display: none;
  }
  .mouse__over__sidebar {
    display: none;
  }
  .back_to_top {
    right: 40px;
  }
}


/* 768-992px */

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
    position: relative;
  }
  .content__menu {
    justify-content: unset;
  }
  .wrapper__burger.open_menu {
    max-width: 204.62px;
    width: 100%;
    text-align: -webkit-right;
  }
  .nav {
    position: absolute;
    top: 40px;
    background-color: rgb(251, 109, 58, 0.7);
    left: -100%;
    transition: all 0.4s ease;
  }
  .nav.open_menu {
    left: 40px;
    text-align: left;
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 70%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  } 
  .menu {
    display: block;
  }
  .menu__item {
    margin: 10px 10px 10px 15px;
    font-size: 14px;
  }
  .menu__item:not(:last-child) {
    margin-right: 10px;
  }
  .menu__burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    margin-left:10px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .mouse__over {
    display: block;
    margin-left: 48px;
    padding-top: 9px;
    color: #fff;
  }
  .menu__burger__header span, .menu__burger__header:after, .menu__burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
  }
  .menu__burger__header span{
    top: 17px;
  }
  .menu__burger__header:after, .menu__burger__header:before{
    content: '';
  }
  .menu__burger__header:after{
    bottom: 4px;
  }
  .menu__burger__header:before{
    top: 6px;
  }
  .menu__burger__header.open_menu {
    transform: translate(-100%);
  }
  .menu__burger__header.open_menu span {
    opacity:0; 
    transition: 0.5s; 
  }
  .menu__burger__header.open_menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
    background-color: red;
  }
  .menu__burger__header.open_menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
    background-color: red;
  }
  .tel {
    position: absolute;
    right: 2vw;
  }
  .slogan__content {
    padding: 20vw 0;
    font-size: 2.7vw;
    line-height: 6vw;
  }
  .slogan__text {
    width: 72vw;
  }
  .sidebar__photo {
    width: 37vw;
  }
  .main__content {
    padding: 6vw 4vw;
  }
  .contacts__type {
    padding: 0;
  }
  .icon {
    margin-left: 30px;
  }
  .mouse__over__sidebar {
    display: none;
  }
  .back_to_top {
    right: 52px;
  }
}


/* 576-768px */

@media screen and (max-width: 768px) {
  body {
    padding: 20px 0;
  };
  .container {
    width: 80%;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .menu__burger__header {
    width: 29px;
    height: 29px;
  }
  .mouse__over {
    margin-left: 37px;
    padding-top: 6px;
  }
  .wrapper__burger.open_menu {
    max-width: 166.13px;
    width: 100%;
  }
  .menu__burger__header.open_menu {
    transform: translate(-100%);
  }
  .menu__burger__header span, .menu__burger__header:after, .menu__burger__header:before {
    height: 2px;
  }
  .menu__burger__header span {
    top: 15px;
  }
  .menu__burger__header.open_menu:before {
    top: 14px;
  }
  .menu__burger__header.open_menu:after {
    bottom: 13px;
  }
  .nav {
    top: 30px;
  }
  .nav.open_menu {
    left: 30px;
  }
  .menu__item {
    font-size: 11px;
  }
  .tel {
    font-size: 13px;
  }
  .slogan__content {
    padding: 134px 0;
  }
  .sidebar__photo, .photo {
    width: 370px;
  }
  .burger__sidebar {
    position: relative; 
    width: 40px;
    height: 35px;
    transition: all 1s ease;
    left: 2em;
    top: 8.4em;
    cursor: pointer;
  }
  .mouse__over__sidebar {
    display: block;
  }
  .burger__sidebar.open_menu {
    left: 22em;
    top: 8.4em;
    z-index: 1;
    border-radius: 10px;
  }
  .sidebar {
    position: absolute;
    top: 112px;
    background-color: #1e2939;
    left: -100%;
    transition: all 1.5s ease;
  }
  .sidebar.open_menu {
    left: 10px;
    height: 90.5%;
  } 
  .burger__sidebar span, .burger__sidebar:after, .burger__sidebar:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fb6d3a;
    transition: all 1s ease;
    margin: 0 auto;
  }
  .burger__sidebar span{
    top: 17px;
  }
  .burger__sidebar:after, .burger__sidebar:before{
    content: '';
  }
  .burger__sidebar:after{
    bottom: 4px;
  }
  .burger__sidebar:before{
    top: 6px;
  }
  .burger__sidebar.open_menu span {
    opacity:0; 
    transition: 1s; 
  }
  .burger__sidebar.open_menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    width: 80%;
  }
  .burger__sidebar.open_menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    width: 80%;
  }  
  .main__content {
    padding: 0vw 5vw;
    margin-bottom: 30px;
  }
  .about__me__name {
    margin-bottom: 45px;
  }
}


/* 320-576px  */

@media screen and (max-width: 576px) {
  .header {
    background-position: -45vw center;
  }
  .container {
    width: 90%;
  }
  .logo {
    width: 20px;
    height: 20px;
  }
  .wrapper__burger.open_menu {
    max-width: 100px;
  }
  .menu__item {
    font-size: 10px;
    margin: 5px 10px 5px 15px;
  }
  .tel {
    font-size: 8px;
  }
  .slogan__content {
    padding: 45px 0;
    height: 109px;
    font-size: 9px;
    line-height: 18px;
  }
  .slogan__text {
    width: 242px;
  }
  .menu__burger__header {
    width: 20px;
    height: 20px;
  }
  .menu__burger__header.open_menu:before {
    top: 10px;
  }
  .menu__burger__header.open_menu:after {
    bottom: 9px;
  }
  .menu__burger__header span {
    top: 10.5px;
  }
  .menu__burger__header span, .menu__burger__header:after, .menu__burger__header:before {
    height: 1px;
  }
  .menu__burger__header:before {
    top: 5px;
  }
  .menu__burger__header:after {
    bottom: 3px;
  }
  .mouse__over {
    margin-left: 26px;
    padding-top: 5px;
    font-size: 10px;
  }
  .nav.open_menu {
    left: 20px;
    top: 20px;
    width: 100px;
  }
  .burger__sidebar {
    width: 20px;
    height: 20px;
    left: 1.6em;
    top: 4.4em;
  }
  .mouse__over__sidebar {
    margin-left: 25px;
    padding-top: 5px;
    width: max-content;
    font-size: 10px;
  }
  .burger__sidebar span, .burger__sidebar:after, .burger__sidebar:before {
    height: 1px;
  }
  .burger__sidebar span {
    top: 10.5px;
  }
  .wrapper__sidebar__burger.open_menu {
    text-align: -webkit-right;
  }
  .burger__sidebar.open_menu {
    left: 0;
    top: 4.4em;
    transform: translate(-100%);
  }
  .burger__sidebar.open_menu:before {
    top: 10px;
  }
  .burger__sidebar.open_menu:after {
    bottom: 9px;
  }
  .sidebar {
    left: -160%;
    margin: 0;
    top: 72px;
  } 
  .sidebar.open_menu {
    left: 0;
    height: 93.5%;
  }
  .sidebar__photo, .photo {
    width: auto;
  }
  .sidebar__photo {
    height: 200px;
    background: url(../img/Снимок\ экрана\ \(88\).png) no-repeat 0px -10px / cover;
  }
  .bookmark {
    padding: 8px;
  }
  .main__content__title {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
  .my__project__text {
    font-size: 12px;
  }
  .my__project__link {
    font-size: 12px;
  }
  .my__project__bracket {
    font-size: 12px;
  }
  .about__me__profession {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
  .about__me__name {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .about__me__discription, .my__work__experience__period {
    font-size: 10px;
    line-height: 15px;
    margin: 0;
  }
  .my__work__experience__section {
    margin-bottom: 20px;
  }
  .my__work__experience__duty {
    font-size: 12px;
    line-height: 14px;
  }
  .my__work__experience__company {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 12px;
  }
  .back_to_top {
    right: 20px;
    bottom: 25px;
  }
}